// 页面相关的数据格式话

var formatUserInfo = function (userInfo) {
  console.log(userInfo + "userInfo");
  if (typeof (userInfo) == 'string'){
    return JSON.parse(userInfo);
  }else{
    return userInfo;
  }
}

var objectToJson = function (o) {
  return JSON.stringify(o);
}
module.exports = {
  formatUserInfo: formatUserInfo,
  objectToJson: objectToJson
};